# ignore subject data
experiment/data/*

# ignore original stimuli
experiment/stimuli/original/*
experiment/stimuli/modified/*

# ignore identifier
_*

# ignore links
*.lnk

# ignore gimp files
*.xcf

# ignore vs-code files
experiment/.vscode/*

# computed files
experiment/stimuli/stim_list.csv
experiment/trial_list.csv
experiment/context-gaze_cueing.pyc

# vs code
gc-context.code-workspace
