# ignore subject data
experiment/data/*

# ignore original stimuli
experiment/stimuli/original/img/*
experiment/stimuli/original/roi/*

!experiment/stimuli/original/img/example.png
!experiment/stimuli/original/roi/example.png


# ignore identifier
_*

# ignore links
*.lnk

# ignore gimp files
*.xcf

# ignore vs-code files
experiment/.vscode/*

# computed files
experiment/gcc-trials.csv
experiment/context-gaze_cueing.pyc
experiment/stimuli/modified/*


# vs code
gc-context.code-workspace
